apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: webstore
  labels:
    app: api
    tier: backend
spec:
  selector:
    app: api
  ports:
    - port: 3001
      targetPort: 3001
  type: ClusterIP
