apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: webstore
  labels:
    app: postgres
    tier: database
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
  type: ClusterIP
