apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "techmart.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
data:
  init.sql: |
    {{- .Files.Get "files/postgres-init.sql" | nindent 4 }}
