apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "techmart.labels" . | nindent 4 }}
    app.kubernetes.io/component: database
type: Opaque
stringData:
  POSTGRES_DB:       {{ .Values.postgres.credentials.database | quote }}
  POSTGRES_USER:     {{ .Values.postgres.credentials.user     | quote }}
  POSTGRES_PASSWORD: {{ .Values.postgres.credentials.password | quote }}
  DATABASE_URL: {{ printf "postgresql://%s:%s@postgres:5432/%s"
    .Values.postgres.credentials.user
    .Values.postgres.credentials.password
    .Values.postgres.credentials.database | quote }}
